:root {
	color-scheme: dark;

	/** primary **/
	--ion-color-primary: #ffffff;
	--ion-color-primary-rgb: 255, 255, 255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #ffffff;
	--ion-color-primary-tint: #ffffff;

	--ion-color-dark: #fff;
	--ion-color-dark-rgb: 244, 245, 248;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0, 0, 0;
	--ion-color-dark-shade: #ffffff;
	--ion-color-dark-tint: #ffffff;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #ffffff;
	--ion-color-medium-tint: #ffffff;

	--ion-color-light: #222428;
	--ion-color-light-rgb: 34, 36, 40;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255, 255, 255;
	--ion-color-light-shade: #1e2023;
	--ion-color-light-tint: #383a3e;

	--ion-background-color: #0a0a0a;
	--ion-background-color-rgb: 10, 10, 10;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;

	--ion-border-color: #000000;

	--ion-color-step-50: #ffffff;
	--ion-color-step-100: #ffffff;
	--ion-color-step-150: #363636;
	--ion-color-step-200: #414141;
	--ion-color-step-250: #4d4d4d;
	--ion-color-step-300: #595959;
	--ion-color-step-350: #656565;
	--ion-color-step-400: #717171;
	--ion-color-step-450: #7d7d7d;
	--ion-color-step-500: #898989;
	--ion-color-step-550: #949494;
	--ion-color-step-600: #a0a0a0;
	--ion-color-step-650: #ffffff;
	--ion-color-step-700: #b8b8b8;
	--ion-color-step-750: #c4c4c4;
	--ion-color-step-800: #d0d0d0;
	--ion-color-step-850: #dbdbdb;
	--ion-color-step-900: #e7e7e7;
	--ion-color-step-950: #ffffff;

	--ion-item-background: #1e1e1e;

	--ion-toolbar-background: #000000;

	--ion-tab-bar-background: #000000;

	--ion-card-background: #141414;
}

* {
	outline: none;
	font-family:  system-ui,Arial, Helvetica, sans-serif !important;
}

ion-alert * {
	color: white !important;
}

ion-content {
	animation: fadeInAnimation ease-in 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

ion-button {
	text-transform: none !important;
	font-size: 1.25rem !important;
	width: 150px !important;
}

ion-segment-button {
	text-transform: none !important;
}

h1 {
	font-size: 4rem !important;
}

h2 {
	font-size: 3rem !important;
}

h3 {
	font-size: 2rem !important;
}

ion-input {
	font-size: 1.5rem !important;
	background-color: white;
}

ion-chip {
	cursor: default;
	width: 150px;
	margin-bottom: 10px;
}

ion-card {
	border-radius: 25px;
	margin-bottom: 2rem;
}

a {
	color: black !important;
}

#container {
	text-align: center;
	position: relative;
	left: 25%;
	right: 0;
	width: 50%;
	height: 95%;
	margin-top: 150px;
}

.container {
	padding-bottom: 100px;
}

ion-tab-bar {
	z-index: 9999999999 !important;
}

ion-tabs {
	z-index: 9999999999 !important;
}

ion-router-outlet > .ion-page {
	animation: fadeIn 0.3s 1 forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 10vh, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

ion-alert {
	--ion-backdrop-opacity: 90%;
	--width: 30% !important;
	--max-width: 100% !important;
}

ion-alert button {
	text-transform: none !important;
}

.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
	border-radius: 15px;
	background-color: rgb(30, 30, 30);
	color: white !important;
}

.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-ios {
	border-radius: 15px;
	background-color: rgb(30, 30, 30) !important;
	color: white !important;
}

@media only screen and (max-width: 600px) {
	#container {
		left: 10%;
		width: 80%;
	}

	ion-alert {
		--width: 75% !important;
	}

	h1 {
		font-size: 3.25rem !important;
	}

	h2 {
		font-size: 2.25rem !important;
	}

	h3 {
		font-size: 1.5rem !important;
	}

	ion-button {
		font-size: 1rem !important;
	}

	ion-input {
		font-size: 1.25rem !important;
	}

	.buttoni {
		font-size: 1.12rem !important;
		padding: 12px 12px !important;
		padding-top: 8px !important;
	}

	.h-6 {
		height: 1.3rem !important;
	}

	.w-6 {
		width: 1.3rem !important;
	}

	.input1 {
		font-size: 1.12rem !important;
		padding: 10px 0px !important;
	}
}

#container strong {
	font-size: 20px;
	line-height: 26px;
}

#container p {
	font-size: 16px;
	line-height: 22px;
	color: white;
	margin: 0;
}

#container a {
	text-decoration: none;
}

h1 {
	color: white !important;
}

h2 {
	color: white !important;
}

h3 {
	color: white !important;
}

ion-chip {
	background-color: rgb(30, 30, 30);
}

::selection {
	color: white;
	background: gray;
}

ion-button {
	padding: -50px !important;
}

.buttoni {
	color: black !important;
	background: white;
	border: 2px solid white;
	font-size: 1.25rem;
	padding: 17px 30px;
	padding-top: 12px;
	border-radius: 30px;
	cursor: pointer;
	text-decoration: none;
	transition: 0.2s ease-in;
	text-align: center;
	font-weight: 500;
	width: 15rem;
}

.buttoni:hover {
	border-color: white;
	background: transparent;
	color: white !important;
}

.buttoni > svg {
	position: relative;
	top: 4px;
}

.h-6 {
	height: 1.5rem;
}

.w-6 {
	width: 1.5rem;
}

.sm {
	margin-bottom: 20px;
	width: 10rem !important;
}

.input1 {
	color: black;
	background: white;
	border: 2px solid white;
	font-size: 20px;
	padding: 13px 0px;
	border-radius: 1.8rem;
	cursor: text;
	text-align: center;
	transition: 0.2s ease-in;
	font-weight: 500;
}

.input1:hover {
	color: white;
	background-color: transparent;
	border: 2px solid white;
}

.input1::placeholder {
	color: black;
}

.input1:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input1:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.code {
	margin-bottom: 20px;
	width: 10rem;
	color: white;
	background-color: rgb(30, 30, 30);
	border-color: rgb(30, 30, 30);
}

.code:hover {
	color: white;
	background-color: rgb(30, 30, 30);
	border-color: rgb(30, 30, 30);
}
