/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	/** primary **/
	--ion-color-primary: #ffffff;
	--ion-color-primary-rgb: 255, 255, 255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #ffffff;
	--ion-color-primary-tint: #ffffff;

	--ion-color-secondary: #50c8ff;
	--ion-color-secondary-rgb: 80, 200, 255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #46b0e0;
	--ion-color-secondary-tint: #62ceff;

	--ion-color-tertiary: #6a64ff;
	--ion-color-tertiary-rgb: 106, 100, 255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #5d58e0;
	--ion-color-tertiary-tint: #7974ff;

	--ion-color-success: #2fdf75;
	--ion-color-success-rgb: 47, 223, 117;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #29c467;
	--ion-color-success-tint: #44e283;

	--ion-color-warning: #ffd534;
	--ion-color-warning-rgb: 255, 213, 52;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0bb2e;
	--ion-color-warning-tint: #ffd948;

	--ion-color-danger: #ff4961;
	--ion-color-danger-rgb: 255, 73, 97;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #e04055;
	--ion-color-danger-tint: #ff5b71;

	--ion-color-dark: #f4f5f8;
	--ion-color-dark-rgb: 244, 245, 248;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0, 0, 0;
	--ion-color-dark-shade: #d7d8da;
	--ion-color-dark-tint: #f5f6f9;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-light: #222428;
	--ion-color-light-rgb: 34, 36, 40;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255, 255, 255;
	--ion-color-light-shade: #1e2023;
	--ion-color-light-tint: #383a3e;

	--ion-background-color: #121212;
	--ion-background-color-rgb: 18, 18, 18;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;

	--ion-border-color: #222222;

	--ion-color-step-50: #1e1e1e;
	--ion-color-step-100: #2a2a2a;
	--ion-color-step-150: #363636;
	--ion-color-step-200: #414141;
	--ion-color-step-250: #4d4d4d;
	--ion-color-step-300: #595959;
	--ion-color-step-350: #656565;
	--ion-color-step-400: #717171;
	--ion-color-step-450: #7d7d7d;
	--ion-color-step-500: #898989;
	--ion-color-step-550: #949494;
	--ion-color-step-600: #a0a0a0;
	--ion-color-step-650: #acacac;
	--ion-color-step-700: #b8b8b8;
	--ion-color-step-750: #c4c4c4;
	--ion-color-step-800: #d0d0d0;
	--ion-color-step-850: #dbdbdb;
	--ion-color-step-900: #e7e7e7;
	--ion-color-step-950: #f3f3f3;

	--ion-item-background: #1e1e1e;

	--ion-toolbar-background: #1f1f1f;

	--ion-tab-bar-background: #1f1f1f;

	--ion-card-background: #1e1e1e;
}

ion-button {
	text-transform: none !important;
	font-size: 1.5rem !important;
	width: 150px !important;
}

ion-segment-button {
	text-transform: none !important;
}

h1 {
	font-size: 4rem !important;
}

h2 {
	font-size: 3rem !important;
}

h3 {
	font-size: 2rem !important;
}

ion-input {
	font-size: 1.5rem !important;
	background-color: white;
}

ion-chip {
	cursor: default;
	width: 150px;
	margin-bottom: 10px;
}

ion-card {
	border-radius: 25px;
	margin-bottom: 2rem;
}

a {
	color: black !important;
}

#container {
	text-align: center;
	position: relative;
	left: 25%;
	right: 0;
	top: 30vh;
	width: 50%;
	height: 95%;
}

ion-tab-bar {
	z-index: 9999999999 !important;
}

ion-tabs {
	z-index: 9999999999 !important;
}

ion-router-outlet > .ion-page {
	animation: fadeIn 0.3s 1 forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 5vh, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

ion-alert {
	--ion-backdrop-opacity: 90%;
	--width: 30% !important;
	--max-width: 100% !important;
}

ion-alert button {
	text-transform: none !important;
}

@media only screen and (max-width: 600px) {
	#container {
		left: 10%;
		width: 80%;
	}

	ion-alert {
		--width: 75% !important;
	}

	h1 {
		font-size: 3.25rem !important;
	}

	h2 {
		font-size: 2.25rem !important;
	}

	h3 {
		font-size: 1.5rem !important;
	}

	ion-button {
		font-size: 1rem !important;
	}

	ion-input {
		font-size: 1.25rem !important;
	}
}

#container strong {
	font-size: 20px;
	line-height: 26px;
}

#container p {
	font-size: 16px;
	line-height: 22px;
	color: #8c8c8c;
	margin: 0;
}

#container a {
	text-decoration: none;
}
